<footer class="navbar-static-bottom">
  <div class="container">
    <div class="links">
        <%= link_to "Resume",     resume_path %>
        <%= link_to "Portfolio",  portfolio_path %>
        <%= link_to "Contact",    contact_path %>
        <%= link_to "Home",       root_path %>
    </div>
    Created by Josh Duffy. Based on <a href="http://bootswatch.com/slate/">Bootstrap theme: "Slate"</a>
  </div>
</footer>